.main-header {

    width: 100%;
    margin-left: 0;
    height: 60PX;
    background-color: rgb(187, 177, 177);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .main-header nav {
    display: flex;
   
  }
  .main-header .logo {
    height: 60px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
  }
  .main-header .logo img {
    height: 100%;
  }
  .main-header ul {
    height: 100%;
    display: flex;
    padding-left: 40px;
    list-style: none;
    
    align-self: center;
  }
  .main-header ul {
    position: relative;
  }
  nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 100ms;
  }
  .main-header ul li a:hover {
    background-color: rgb(12, 105, 182);
    color: azure;
  }
  /*------- dropdown styling---------- */
  .main-header ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: 40px;
    margin-top: auto;
    transition: all ease-in-out 100ms;
  
  }
  .main-header ul li ul a {
    white-space: nowrap;
    color:white;
  }
   ul li:hover>ul {
  
    visibility: visible;
    opacity: 1;
    display: block;
   }
  /*---- dropdown styling ends here---- */
  .main-header .sm {
    align-self: center;
    display: flex;
  }
  .main-header form {
    height: 40px;
    padding-right:  5px;
    display: flex;
    border-radius: 20PX 100PX 100PX 20PX;
    align-self: center;
  }
  .main-header form input {
    height: 100%;
    width: 300px;
    padding: 0 10px 0 20px;
    font-size: 1rem;
  }
  .main-header form input:focus {
    border: 1px solid #111;
  }
  .main-header form button {
    width: fit-content;
    padding: 0 5px 0 10px;
  }
  .main-header form button img {
    height: 24px;
    padding-top: 15px;
    cursor: pointer;
  }
  
   .sm .sm-links img {
    height: 30px;
    width: fit-content;
    display: flex;
    align-self: center;
    margin-right: 25px;
  
  }
  body > header > div > div > a:nth-child(2) > img {
    color: aliceblue;
  }
  .main-header .sm-links {
    height: 30px;
    color: rgb(26, 106, 70);
    width: fit-content;
    display: flex;
    align-items: center;
  }
  .sm .sm-links  a img {
   color:  white !important;
  }



.gradient-background {
    background: linear-gradient(300deg, #5bbb68, #16bb24, #179fdf);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .products {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .products img {
    
    width: 100%;
    height: 100%;
    transition: transform .2s;
    border-radius: 5px;
  }

  .products img:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .reviews {
    padding-left: 20px;
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
  }


/* Sample styling for comments and commenting controls */
#allcomments {
    width: 90%;
    margin: 1em 0 4em 1em;
    padding: 1%;
    border: solid 1px gray;
    border-radius: 3px;
    box-shadow: 2px 2px 2px silver;
}

ul#pastcomments {
    list-style-type: none;
}

ul#pastcomments li:before {
    font-family: FontAwesome;
    /* content: "\f075";
    font-size: 24pt; */
    color: gray;
    margin-left: -42px;
    padding-right: 10px;
    position: relative;
    top: 8px;
}

ul#pastcomments li {
    margin: 0 0 2em 0;
    padding: 10px;
}

ul#pastcomments li span {
    font-size: 80%;
    color: gray;
    font-style: italic;
}

form#newcomment textarea {
    height: 72px;
}

form#newcomment label {
    display: inline-block;
    margin: 1em 0 0 0;
}

form#newcomment textarea,
form#newcomment input[type="text"] {
    margin-top: 0;
}
#btnSubmitComment {
  color: white;
  background-color: rgb(12, 105, 182);
}
  /* .head {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .text {
    margin: 10px 0;
    font-size: 0.9em;
  }
  .commentbox {
   display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .commentbox > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
  }
  .content {
    width: 100%;
  }
  .user {
    border: none;
    outline: none;
    margin: 5px;
    color: #808080;
    margin-left: 20px;
    padding: 10px;
  }
  .commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
    
  }

  .buttons button {
    padding: 5px 10px;
    background: lightgrey;
    text-transform: uppercase;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .buttons button.abled {
   background: blue;
   color: #fff;
  }

  .policy {
    margin: 20px 0;
    font-size: .8em;
    color: #808080;
  }

  .policy a {
    text-decoration: none;
    color: blue;
  }

  .notify {
    margin-right: 25px;
    display: flex;
    align-items: center;
  }

  .notify > input {
    margin-right: 5px;
  }

   .engagements img {
    width: 25px;
    margin-right: 10px;
   }
   .parents {
    display: flex;
    margin-bottom: 20px;
   }
   .parents h1 {
    font-size: 0.9em;

   }
   .parents p {
    margin: 10px 0;
    font-size: 0.9em;
   }
   .parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
   }
   .engagements img:nth-child(1){
    margin-right: 10px;
    width: 25px;

   }
   .date {
    color: #808080;
    font-size: 0.8em;
   }
  form input,form textarea{
    width: 50%;
    bottom: 0;
    outline: none;
    background:#b8b3b3;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius:6px ;
    font-size:18px ;
  
  }
  form input,form textarea {
    margin-top: 100px;
  }
  .submit{
    margin-top: 80px;
  }
  #msg {
    margin-bottom: 90px;
    margin-left: 190PX;
    color:#34efd3;
    display: block;
  }
  .button{
    background-color:rgb(34, 142, 243);
    width: 90px;
    border-radius: 6px;
    
  }
  .btn2 {
    background-color:rgb(34, 142, 243) ;
  }
  
   */
   